POSTGRES_USER=openwebui
POSTGRES_PASSWORD=change-me-strong-password
POSTGRES_DB=openwebui

OPENWEBUI_NAME=Локальный Ассистент
OPENWEBUI_DISCLAIMER=Это тестовый режим для обучения
OPENWEBUI_DEFAULT_MODEL=general_assistant

OPENAI_API_BASE_URLS=http://nginx-lb:8080/v1
OPENAI_API_KEY=sk-dummy-key
RAG_OPENAI_API_BASE_URL=http://nginx-lb:8080/v1
DATABASE_URL=postgresql://openwebui:change-me-strong-password@postgres:5432/openwebui

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-strong-password
GRAFANA_ROOT_URL=http://grafana/grafana

PROMETHEUS_EXTERNAL_URL=http://localhost/prometheus/

NGINX_HTTP_PORT=80
NGINX_LB_PORT=8080
